.button {
    background-color: lightseagreen;
    color: white;
}

.formulario {
    color:rgb(19, 26, 26);
    text-align: center;
    border: 1px solid grey;
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.ocultar {
    display: none;
}


.formato-titulo {
    color:rgb(32, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: sticky;
    background-color: magenta;
}

.formato-tienda {
    color:rgb(32, 31, 31);
    display: flex;
}


.contenido {
    padding: 15px;
    margin: 15px;
}

.pedido {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 5%;
}

.pago {
    background-color: midnightblue;
    color: white;
    text-align: center;
}

body {
    margin: 0 auto;
    max-width: 70em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color:rgb(151, 0, 96);
}

h1 {
    color:midnightblue;
}

h2 {
    color:rgb(206, 86, 65);
}

h3, h4 {
    color:darkslateblue; 
    margin-top: 1em;
    margin-bottom: 1em; 
} 

strong {
    color:teal;
}

code, 
pre {
    background: rgb(240, 198, 240);
}

code {
    vertical-align: text-bottom;
    text-align: left;
    color: rgb(19, 26, 26);
}

pre {
    padding: 1em;
}

a {
    color: rgb(93, 106, 119);
}