<%- include('partials/head_inicio.ejs') %>

    <br><br><h1 class="title is-2 h1 content has-text-centered"><ul>¡Bienvenid@ a la página random!</ul></h1> 

    <br><h3 class="subtitle is-4 h3">Contenido público</h3>
    <li><a href='murcielagos'>Conoce sobre los murciélagos</a></li>

    <br><h3 class="subtitle is-4 h3">Contenido especial para usuarios</h3>
    <li><a href='/extra/mandar-sugerencia'>Mandar sugerencia</a></li> 
    <li><a href='/extra/historial-sugerencias'>Ver historial de sugerencias</a></li>
    <li><a href='/extra/pregunta-a-responder-lab'>Pregunta a responder del laboratorio</a></li>

    <br><br>
    <h2 class="title is-3 h2"><ul>Encuesta de personajes de Smash Bros</ul></h2>
    Hasta la fecha donde fue hecha esta página, aún quedan dos espacios en el último paquete DLC del videojuego Super Smash Bros Ultimate, reservado para dos personajes más que podrían tener la oportunidad de entrar y luchar contra los demás, así que, manda al personaje que te gustaría ver. <br>
    Primero inicie sesión y después entre <a href='/personajes/mandar-personaje'>aquí</a> para participar, o por <a href='/personajes/lista-personajes'>acá</a> vea los personajes enviados.


<%- include('partials/footer.ejs') %>