<%- include('partials/head2.ejs') %>

<h1><ul>Murciélagos</ul></h1> 
Son animales mamíferos que tienen sus extremidades superiores como alas, los que los hacen los únicos mamíferos que vuelan. La gran mayoría son nocturnos y viven en cuevas en grandes manadas. Utilizan la ecolocación para guiarse y cazar insectos. También se distribuyen por casi la mayoría del mundo. 
<br><br> 
<a href='murcielagos/tipos'>Tipos</a>
<br><br>
<img alt="Murcielago" src="https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/tnc_34284690_1640x1025.jpg?crop=0,0,1640,1230&wid=640&hei=480&scl=2.5625">

<%- include('partials/footer.ejs') %>