<%- include('partials/head.ejs') %>
        
<%if (isLoggedIn) { %>
    <br>
    <h3 class="subtitle is-4 h3">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?</h3>
    <strong>Firmas:</strong> Cuando un consumidor de una API realiza una solicitud, se crea un hash de ésta en una clase privada<br>
    <strong>Cookies:</strong> El navegador coloca la solicitud HTTP en un contenedor de cookies, y la cookie se enviará junto con cada solicitud realizada al mismo origen en el encabezado Cookie HTTP.<br>
    <strong>Contraseñas de un solo uso:</strong> Generan contraseñas de un solo uso con un secreto compartido y la hora actual o un contador.

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué es JSON?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">Elabora un diagrama y explica cómo funciona AJAX.</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué alternativas a jQuery existen?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué es una promesa en js?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Cómo funcionan async y await?</h3>

    <br><br><br>
    <h3 class="subtitle is-4 h3">Bibliografía</h3>
    Métodos de autenticación web explicados : Escuela Javascript. (2018, November 27). Escuela Javascript. <a href='https://www.escuelajavascript.com/metodos-de-autenticacion-web-explicados/'>Link.</a>
<% } else { %>
    Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
<% } %>
            
        
<%- include('partials/footer.ejs') %>