<%- include('partials/head.ejs') %>
        
<%if (isLoggedIn) { %>
    <br>
    <h3 class="subtitle is-4 h3">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?</h3>
    

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué es JSON?</h3>
    JSON (JavaScript Object Notation) es un formato ligero de intercambio de datos, se usa en sistemas que requieren mostrar o enviar información a otros y que estos los interpreten.

    <br><br>
    <h3 class="subtitle is-4 h3">Elabora un diagrama y explica cómo funciona AJAX.</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué alternativas a jQuery existen?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Qué es una promesa en js?</h3>

    <br><br>
    <h3 class="subtitle is-4 h3">¿Cómo funcionan async y await?</h3>

    <br><br><br>
    <h3 class="subtitle is-4 h3">Bibliografía</h3>
    victor garibay cadenas. (2016, July 17). “JSON marcando tendencias” - victor garibay cadenas - Medium. Medium; Medium. <a href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d">Link</a><br><br>

‌
    
<% } else { %>
    Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
<% } %>
            
        
<%- include('partials/footer.ejs') %>