<%- include('partials/head.ejs') %>

    <h1><ul>Laboratorio 18</ul></h1> 
    Michelle Aylin Calzada Montes<br>
    A01706202<br>
    ITC<br><br>

    <br><h3>Contenido público</h3>
    <li><a href='murcielagos'>Conoce sobre los murciélagos</a></li>

    <br><h3>Contenido especial para usuarios</h3>
    <li><a href='/extra/mandar-sugerencia'>Mandar sugerencia</a></li> 
    <li><a href='/extra/historial-sugerencias'>Ver historial de sugerencias</a></li>
    <li><a href='/extra/pregunta-a-responder-lab'>Pregunta a responder del laboratorio</a></li>

<%- include('partials/footer.ejs') %>