<%- include('partials/head.ejs') %>
        <header>
            <ul><h1>Pregunta a responder</h1></ul>
        </header>
        <main>
            <h3>¿Qué otros templating engines existen para node?</h3>
            <strong>Pug: </strong>Motor de plantillas inspirados en Haml.<br>
            <strong>Handlebars: </strong>Construye plantillas semánticas efectivamente.<br>
            <strong>Haml: </strong>Implementación de Haml.<br>
            <strong>Eta: </strong>Admite delimitadores personalizados, asíncronos, control de espacios en blanco, parciales, almacenamiento en caché, complementos.<br>
            <strong>Squirrelly: </strong>Motor de plantillas rápido que permite parciales, etiquetas personalizadas, filtros, almacenamientos en caché y ayudantes. Funciona con cualquier idioma.<br>
            <strong>Blade: </strong>Compilador de plantillas HTML.<br>
            <strong>Luquid: </strong>Una implementación de motor líquido para node.js y navegadores.<br>
            <strong>Blade: </strong>Compilador de plantillas HTML.<br>
            <strong>React: </strong>Renderiza los componentes de React en el servidor estáticamente.<br><br>
            

            <h3>Bibliografía</h3>
            Template Engines. (2017). Expressjs.com. <a href="https://expressjs.com/en/resources/template-engines.html">Link</a>

        </main>
<%- include('partials/footer.ejs') %>