<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-with, initial-scale=1.0">
        <link href="css/main.css" rel="stylesheet">
        <title>Pregunta</title>
    </head>
    <body>
        <header>
            <ul><h1>Sugerencias hechas</h1></ul>
        </header>
        <main>
            <% if (arreglo.length > 0) { %>
                <ul>
                    <% for (let elemento of arreglo) { %>
                        <li><%= elemento.atributo %></li>
                    <% } %>
                </ul>
            <% } else { %>
                <h1>No hay sugerencias</h1>
            <% } %>
        </main>
    </body>
</html>