<%- include('partials/head.ejs') %>
        <main>
            <% if (sugerencias.length > 0) { %>
                <ul>
                    <% for (let opinion of sugerencias) { %>
                        <li><%= opinion %></li><br><br>
                    <% } %>
                </ul>
            <% } else { %>
                <h1>No hay sugerencias</h1>
            <% } %>
        </main>
<%- include('partials/footer.ejs') %>