<%- include('partials/head.ejs') %>
        <header>
            <ul><h1>Pregunta a responder</h1></ul>
        </header>
        <main>
            <% if (isLoggedIn) { %>
                <h3>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h3>
                Esta todo más estructurado y en capas, lo que hace más fácil corregir e identificar errores y el código ya no se ve amontonado.<br><br>

                <h3>¿Qué es SQL injection y cómo se puede prevenir?</h3>
                Puede ser tedioso si es que se trabaja con algo pequeño y hay muchos archivos, lo que ocaciona que al principio sea confuso y cansado moverse entre ellos.<br><br>
            <% } else { %>
                    Registrese en /users/login para acceder a este contenido.
            <% } %>
            
        </main>
<%- include('partials/footer.ejs') %>