<%- include('partials/head.ejs') %>
        <header>
            <ul><h1>Pregunta a responder</h1></ul>
        </header>
        <main>
            <% if (isLoggedIn) { %>
                <a href="../users/logout">Salir de sesión</a><br><br>
                <h3>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h3>
                Es más fácil de visualizar y de corregir cuando haya un error, además le da un mejor orden a nuestro código en capas.<br><br>

                <h3>¿Qué es SQL injection y cómo se puede prevenir?</h3>
                Es un método de ataque en donde se insertan sentencias SQL maliciosas a nuestra base de datos.<br>
                Se pueden prevenir con el uso de declaraciones preparadas o escapar de los caracteres especiales en la entrada del usuario.<br><br><br>

                <h3>Bibliografía</h3>
                Shaumik Daityari. (2020, January 14). Inyección SQL: Una guía para usuarios principiantes de WordPress. Kinsta. <a href='https://kinsta.com/es/blog/inyeccion-sql/'>Link.</a>

‌
            <% } else { %>
                    Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
            <% } %>
            
        </main>
<%- include('partials/footer.ejs') %>