<%- include('partials/head.ejs') %>
        <main>
            <h1><ul>Historial de sugerencias</ul></h1>
            <% if (isLoggedIn) { %>
                <a href="../users/logout">Salir de sesión</a><br><br>
                <% if (historial_sugerencias.length > 0) { %>
                    <ul>
                        <% for (let opinion of historial_sugerencias) { %>
                            <li><%= opinion.recomendacion %></li><br>
                        <% } %>
                    </ul>
                <% } else { %>
                    <h3>No hay sugerencias</h3>
                <% } %>
                <br><br><strong>Sugerencias totales: </strong> <%= total %>
                <% } else { %>
                    Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
                    <% } %>
        </main>
<%- include('partials/footer.ejs') %>