
<%- include('partials/head.ejs') %>
<main>
<h1><ul>¡Caja de sugerencias!</ul></h1> 
<br>Envía tus sugerencias y quejas de esta app web, nos importa su opinión c:<br><br> 
<form action="mandar-sugerencia" method="POST">
    <input type="text" name="opinion">
    <input type="submit" value="Enviar">
</form>
</main>
<%- include('partials/footer.ejs') %>