<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-with, initial-scale=1.0">
        <link href="css/main.min.css" rel="stylesheet">
        
    </head>
    <body>

    <h1><ul>Laboratorio 13</ul></h1> 
    Michelle Aylin Calzada Montes<br>
    A01706202<br>
    ITC<br> 
    <br><h3>Rutas disponibles públicas</h3>
    <li>/murcielagos</li> 
    <li>/murcielagos/tipos</li> 

    <br><h3>Rutas disponibles registrandose en /ussers/login</h3>
    <li>/extra/mandar-sugerencia</li> 
    <li>/extra/historial-sugerencias</li>
    <li>/extra/pregunta-a-responder-lab</li>

</body>
<footer>
    <p>Programa utilizado para editar: <a href="https://code.visualstudio.com/">Visual Studio Code</a></p>
</footer>
</html>