<%- include('partials/head.ejs') %>
        <header>
            <ul><h1>Pregunta a responder</h1></ul>
        </header>
        <main>
            <% if (isLoggedIn) { %>
                <a href="../users/logout">Salir de sesión</a><br><br>
                    <h3>¿Qué beneficios encuentras en el estilo MVC?</h3>
            Esta todo más estructurado y en capas, lo que hace más fácil corregir e identificar errores y el código ya no se ve amontonado.<br><br>

            <h3>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h3>
            Puede ser tedioso si es que se trabaja con algo pequeño y hay muchos archivos, lo que ocaciona que al principio sea confuso y cansado moverse entre ellos.<br><br>
            <% } else { %>
                    Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
            <% } %>
            
        </main>
<%- include('partials/footer.ejs') %>