<%- include('partials/head.ejs') %>
        <header>
            <ul><h1>Pregunta a responder</h1></ul>
        </header>
        <main>
                <h3>¿Qué otras formas de autentificación existen?</h3>
                <strong>Firmas:</strong> Cuando un consumidor de una API realiza una solicitud, se crea un hash de ésta en una clase privada
                <strong>Cookies:</strong> El navegador coloca la solicitud HTTP en un contenedor de cookies, y la cookie se enviará junto con cada solicitud realizada al mismo origen en el encabezado Cookie HTTP.
                <strong>Contraseñas de un solo uso:</strong> Generan contraseñas de un solo uso con un secreto compartido y la hora actual o un contador.

                <h3>Bibliografía</h3>
                Métodos de autenticación web explicados : Escuela Javascript. (2018, November 27). Escuela Javascript. <a href='https://www.escuelajavascript.com/metodos-de-autenticacion-web-explicados/'>Link.</a>'

            
        </main>
<%- include('partials/footer.ejs') %>