<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-with, initial-scale=1.0">
        <link href="/css/main.min.css" rel="stylesheet">       
    </head>
    <body>
        <main>
        <% if (isLoggedIn) { %>
            <a href="/users/logout">Salir</a>
        <% } else { %>
            <a href="/users/login">Iniciar sesión</a>  ||  <a href="/users/register">Registrarse</a>
            
            <% } %>
            
        