<%- include('partials/head_inicio.ejs') %>

    <br><br><h1 class="title is-2 h1 content has-text-centered"><ul>¡Bienvenid@ a la página random!</ul></h1> 

    <br><h3 class="subtitle is-4 h3">Contenido público</h3>
    <li><a href='murcielagos'>Conoce sobre los murciélagos</a></li>

    <br><h3 class="subtitle is-4 h3">Contenido especial para usuarios</h3>
    <li><a href='/extra/mandar-sugerencia'>Mandar sugerencia</a></li> 
    <li><a href='/extra/historial-sugerencias'>Ver historial de sugerencias</a></li>

    <br><br>
    <h2 class="title is-3 h2"><ul>Encuesta </ul></h2>
    descripción xd <br>
    Entre <a href='/personajes/mandar-personaje'>aquí</a> para participar, o por <a href='/personajes/lista-personajes'>acá</a> vea los personajes enviados.


<%- include('partials/footer.ejs') %>