<%- include('partials/head.ejs') %>
        
            <% if (isLoggedIn) { %>
                <% if (historial_personajes.length > 0) { %>
                    <ul>
                        <% for (let character of historial_personajes) { %>
                            
                            <li><%= character.nombre %></li><br>
                        <% } %>
                    </ul>
                <% } else { %>
                    <h3>No hay nada</h3>
                <% } %>

            <% } else { %>
                Registrese <a href="../users/login">aquí</a> para acceder a este contenido.
            <% } %>
        
<%- include('partials/footer.ejs') %>