<%- include('partials/head.ejs') %>

<main>
    <h1><ul>Registro</ul></h1> 
    <br> 
    <form action="/users/register" method="POST">
        Nombre<br>
        <input type="text" name="nombre" required><br><br>
        Nombre de usuario<br>
        <input type="text" name="usuario" required><br><br>
        Contraseña<br>
        <input type="password" name="password" required><br>
        
        <input type="submit" value="Ingresar">
    </form>
    </main>
<%- include('partials/footer.ejs') %>