<%- include('partials/head2.ejs') %>

<h1><ul>Tipos</ul></h1> 
Los tipos más comunes son:<br> 
<br><li>Zorro filipino volador</li> 
<li>Murciélago de la fruta</li> 
<li>Murciélago vampiro</li> 
<li>Murciélago de indiana</li> 
<li>Murciélago egipcio de la fruta</li> 
<li>Pequeño murciélago café</li> 
<li>Murciélago nariz de cerdo de Kitti</li>

<%- include('partials/footer.ejs') %>