</main>
</body>
<footer>
    <br><br>
    <p>Programa utilizado para editar: <a href="https://code.visualstudio.com/">Visual Studio Code</a><br>
    
    Laboratorio 24/26<br>
    Michelle Aylin Calzada Montes<br>
    A01706202<br>
    ITC<br><br></p>
</footer>
</html>